.jumbotron {
    background: lightslategray;
    text-align: center;
    height: 200px;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

#start, #q2start, #q3start, #q4start {
    height: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    background: lightseagreen;
}

#showGame {
    background: lightsteelblue;
    color: black;
}

#showAnswers {
    background: lightsteelblue;
    color: black;
    position: relative;
    left: 230px;
    top: 40px;
}

.container {
    position: relative;
    top: 60px;
    font-family: 'Raleway', sans-serif;
}